.autoguide {
	padding: 25px 0 5px;
	@include mmd() {
		padding: 15px 0;
	}
}


.autoguide__button {
	position: relative;
	max-width: 185px;
	&:hover {
		
	}
}


.autoguide__item_content {
	@include xl() {
		width: 430px;
	}
	color: #bfbbb0;
	p {
		margin: 0;
		font-size: 15.8px;
		line-height: 20px;
	}
}


// .autoguide__item {
// 	margin-bottom: 20px;
// 	@include mmd() {
// 		margin-bottom: 10px;
// 	}
// }


.autoguide__autoguide-logo {

}


.autoguide__item_logo {
	@include xl() {
		width: 245px;
	}
}

.autoguide__item_button {
	@include lg() {
		width: 215px;
	}
	@include mmd() {
		// width: 50%;
	}
	
}



.autoguide__button_google_play {
	@include mlg() {
		margin-left: auto;
	}
	@include mmd() {
		margin-right: auto;
	}
}

.autoguide__button_app_store {
	@include mlg() {
		margin-right: auto;
	}
	@include mmd() {
		margin-left: auto;
	}
}