.autoguide-logo {
	display: block;
	color: #a08d75;
	font-size: 0;
	line-height: 1;
	transition: linear .3s;
	&:hover,&:focus {
		color: #fff;
		.icon_loc {
			&:before {
				border-left-color: #fff;
			}
			
		}
		.icon__svg-loc {
			fill: #fff;
		}
	}
}

.autoguide-logo__item {
	display: inline-block;
	vertical-align: middle;
}

.autoguide-logo__item_icon {
	margin-right: 20px;
}

.autoguide-logo__item_txt {
	font-size: 30px;
	line-height: 1;

}