.ban {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.ban_height_large {
	height: 570px;
	@media only screen and(min-width: 1501px) {
		height: 670px;
	}
	@include msm() {
		height: 400px;
	}
}

.ban_height_small {
	height: 400px;
}

.ban_overlay {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: rgba(#ce5d36, .4);
	}
}

.ban__content {

}


.ban__content_position_center_bottom {
	position: absolute;

	bottom: 40px;
	left: 0;
	width: 100%;
}

.ban__content_position_center_center {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	transform: translate(0, -50%);
}

.ban__content-in {
	max-width: 400px;

}

.ban__content-in_full {
	max-width: none;
	width: 100%;
}

.ban__title {
	color: $color_ban_title;
	font-size: 30px;
	line-height: 35px;
	font-weight: 600;
	margin: 0 0 15px;
	padding: 0 15px;

}

.ban__city-name {
	letter-spacing: 30px;
	font-size: 50px;
	line-height: 50px;
	color: $color_city_name;
	text-transform: uppercase;
	font-weight: 600;

	margin: 0 0 15px;
	@include msm() {
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 10px;
	}
}

.ban__img {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;

	// object-fit: cover;

	// transform: scale(1.2);
}






@-webkit-keyframes zooming {
    0% {
	    transform: scale(1.2);
    }
    100% {
	    transform: scale(1);
    }

}

@keyframes zooming {
    0% {
	    transform: scale(1.2);
    }
    100% {
	    transform: scale(1);
    }

}




.zooming {
	animation-name: zooming;
	animation-duration: 2s;
	animation-delay: 2s;
}



@-webkit-keyframes fadeInUp_v2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  30% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp_v2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  30% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.fadeInUp_v2 {
  -webkit-animation-name: fadeInUp_v2;
  animation-name: fadeInUp_v2;
}