.blockIE {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: #fff;
	z-index: 999999999;
	p {
		color: $color_blockIE_text;
		font-size: 50px;
		line-height: 1;
		max-width: 990px;
		margin: 100px auto;
		text-align: center;
		position: relative;
		z-index: 19;
	}
}

.blockIE__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}