.row {
	font-size: 0;
	& > * {
		font-size: $font_size_document;
	}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: none;
	display: inline-block;
	vertical-align: top;
	font-size: $font_size_document;
	@include mmd() {
		// display: block;
	}
}


.col-middle {
	vertical-align: middle;
}

.col-margin-responsive {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
}

.row-no-gutters {
	margin-left: 0;
	margin-right: 0;
}

.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.col-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




.col_height_auto {

}