.button {
	position: relative;
	display: block;
	text-align: center;
	max-width: 200px;

	transition: linear .2s;
	&:hover {
		text-decoration: none;
	}
}

.button__in {
	display: block;
	line-height: 1;
	// transition: linear .2s;
}

.button_center {
	margin-left: auto;
	margin-right: auto;
}

.button_main {
	font-family: $o_s;
	font-weight: 400;
	color: $color_button_main;
	font-size: 17px;
	line-height: 1;

	max-width: 220px;
	
	padding: 16px 10px 17px;
	background-color: $background_button_main;
	border: 1px solid #d8d8d8;
	&:hover {
		background-color: $background_button_main_hover;
		border-color: $border_button_main_hover;
		color: $color_button_main_hover;
	}
}


.button_main_blue {
	background-color: #2087fe;
	color: #fff;
	max-width: 220px;
	border-color: transparent;
	&:hover {
		background-color: #2087fe;
		border-color: transparent;
		box-shadow: 0 0 5px 1px #2087fe;
	}
}

.button_main_white {
	background-color: $background_buttom_main_white;
	border-color: $border_buttom_main_white;
	&:hover {
		background-color: $background_buttom_main_white_hover;
		border-color: $border_buttom_main_white_hover;
	}
}

.button_circle_red {
	font-family: $o_s;
	font-weight: 600;
	color: $color_button_circle_red;
	font-size: 18px;
	line-height: 1;

	padding: 15px 10px 17px;
	background-color: $background_button_circle_red;
	border-radius: 25px;
	border: none;

	transition: linear .2s;
	&:hover {
		opacity: .8;
		color: $color_button_circle_red;
	}
}

.button_circle_brown {
	border: 1px solid #746554;
	padding: 10px 25px 10px 60px;
	border-radius: 25px;

	color: #746554;
	&:hover, &:focus {
		color: #fff;
		border-color: #fff;
	}
}

.button__icon {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.button__icon_google_play {
	left: 24px;
}


.button__icon_app_store {
	left: 24px;
}

.button__in_autogide {
	font-size: 8px;
	line-height: 12px;
	text-align: left;
	text-transform: uppercase;
}

.button__in_autogide_name {
	font-family: $g_r;
	font-size: 16px;
	line-height: 19.71px;
	text-transform: none;
}