.city-slider {
	height: 300px;
	overflow: hidden;
	.owl-item {
		height: 300px;
		position: relative;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			right: 100%;

			width: 100%;
			height: 100%;

			background: url("../images/city_slider_overlay_left.png") 50% 50% no-repeat;
			background-size: cover;

			opacity: 0;
			visibility: hidden;
			transition: linear .3s;

		}
		&:after {
			content: '';

			position: absolute;
			top: 0;
			left: 100%;

			width: 100%;
			height: 100%;

			background: url("../images/city_slider_overlay_right.png") 50% 50% no-repeat;
			background-size: cover;
			opacity: 0;
			visibility: hidden;
			transition: linear .3s;

		}

	}
	.active {
	}
	.center {
		z-index: 10;

		&:before, &:after {
			opacity: 1;
			visibility: visible;
		}
	}
	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 9999;
		button {
			color: $city_slider_buttons_color !important;
			font-size: 50px !important;
			line-height: 50px !important;
			font-weight: 300;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			transition: linear .2s;
			&:hover {
				transform: translateY(-50%) scaleX(1.1) scaleY(1.1);
			}
		}
	}
	.owl-prev {
		left: 10%;
		@include lg() {
			left: 30%;
		}
		@include xl() {
			left: 29%;
		}
	}
	.owl-next {
		right: 10%;
		@include lg() {
			right: 30%;
		}
		@include xl() {
			right: 29%;
		}
	}
	
}




.city-slider__preview {
	width: 100%;
}