.content {
	p {
		line-height: 30px;
		margin: 0 0 35px;
		@include mmd() {
			margin: 0 0 15px;
		}
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: $color_titles;
}

.title-h2 {
	font-size: 45px;
	line-height: 51px;
	margin: 0 0 15px;
	@include mmd() {
		// margin: 0 0 10px;
	}
}

.title-h2_size_small {
	font-size: 40px;
	line-height: 40px;
}

.title-h3 {
	font-size: 35px;
	line-height: 41px;
	margin: 0 0 15px;
}

.title-h5 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 28px;
}

.title-h6 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	margin: 0 0 3px;
}

.content_after-title {
	color: rgba(#000, .45);
	p {
		font-size: 16px;
		line-height: 24px;
	}
	
}

.content_after-title_white {
	color: rgba(#fff, .45)
}




