.content-wrap {
	padding-bottom: 130px;
	@include mmd() {
		padding-bottom: 160px;
	}
}

.content-wrap__container {

}
.content-wrap__row {

}
.content-wrap__col {

}

.content-wrap__col {

}

.content-wrap__col_main {
	padding-top: 70px;
	padding-right: 40px;
}

.content-wrap__col_side {
	padding-top: 35px;
	padding-left: 25px;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 99999px;
		height: calc(100% + 300px);

		background-color: $background_aside_column;
	}
}

.content-wrap__crumbs {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 40px;
	@include mmd() {
		margin-bottom: 20px;
	}
}

.content-wrap__img-wrap {
	margin-bottom: 40px;
}