.crumbs {
	padding-left: 20px;
	padding-right: 20px;
	color: $color_crumbs;
}

.crumbs__list {
	margin-left: -20px;
	margin-right: -20px;
	li {
		padding-right: 20px;
		padding-left: 20px;
		display: inline-block;
		vertical-align: top;

		font-size: 40px;
		line-height: 40px;
		font-weight: 300;
		@include msm() {
			font-size: 30px;
			line-height: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	a {
		position: relative;
		display: block;

		color: $color_crumbs_link;
		@include msm() {
			font-size: 30px;
			line-height: 30px;
		}
		&:before {
			content: '/';

			position: absolute;
			top: 0;
			left: 100%;
			margin-left: 15px;
			transition: linear .2s;
			@include msm() {
				margin-left: 7px;
			}
		}
		&:hover {
			color: $color_crumbs_link;
			text-decoration: none;
			color: rgba($color_crumbs_link, .7);
		}
	}
}