.description {
	color: $color_description;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		width: 1px;
		height: 70px;

		background-color: #eaeaea;
	}
}

.description__value {
	font-size: 50px;
	line-height: 45px;
	margin-bottom: 30px;
	color: $color_description;
}

.description__txt {
	font-size: 20px;
	line-height: 20px;
	color: $color_description;
}


.intro__description-row {
	margin-bottom: 60px;
}

