.footer {
	padding: 30px 0;
	@include mmd() {
		padding-top: 20px 0;
	}
}

.footer_style {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		bottom: 100%;
		width: 100%;
		height: 185px;
		background: url("../images/footer_bg.png") 50% 50% no-repeat;
		background-size: cover;
	}
}

.footer__item {
	@media only screen and(max-width: 480px) {
		width: 100%;
	}
}


.footer__menu-wrap {
}

.footer__foot {
	border-top: 1px solid #a08d75;
	padding-top: 30px;
	@include mmd() {
		padding-top: 20px;
	}

}

.footer__rights {
	text-align: right;
}


.footer__foot-item {
	@include msm() {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}