.form-search {
	position: relative;

}


.form-search__btn {
	cursor: pointer;
}


.form-search__input-wrap {
	width: 250px;
	position: absolute;

	top: -5px;
	right: -10px;


	opacity: 0;
	visibility: hidden;

	transition: linear .3s;
    
	z-index: 10;
	@include mmd() {
		right: 0;
		left: 0;
		margin-left: -50px;
		// padding-top: 10px;
	}
}

.form-search__wrap-in {
	height: 0; 
	overflow: hidden;

	-webkit-transition-property: height;
	-webkit-transition-duration: .5s; 
	-webkit-perspective: 200px; 
	-webkit-transform-style: preserve-3d; 

	-moz-transition-property:height; 
	-moz-transition-duration: .5s; 
	-moz-perspective: 200px; 
	-moz-transform-style: preserve-3d; 

	-o-transition-property: all; 
	-o-transition-duration: .5s;
	-o-transform: rotateX(-90deg);
	-o-transform-origin: top;

	transition-property: height;
	transition-duration: .5s;
	perspective: 200px;
	transform-style: preserve-3d;

}

.form-search__wrap {
	position: relative;
	height: 0; 

	-webkit-transition-property: all; 
	-webkit-transition-duration: .5s;
	-webkit-transform: rotateX(-90deg);
	-webkit-transform-origin: top; 

	-moz-transition-property: all; 
	-moz-transition-duration: .5s;
	-moz-transform: rotateX(-90deg);
	-moz-transform-origin: top; 

	-o-transition-property: all; 
	-o-transition-duration: .5s;
	-o-transform: rotateX(-90deg);
	-o-transform-origin: top;

	transition-property: all; 
	transition-duration: .5s;
	transform: rotateX(-90deg);
	transform-origin: top; 
}

.form-search__input {
	background-color: #fff;
	border: none;
	// box-shadow: 0 0 10px 5px rgba(#000, .1);
	padding-right: 30px;
	border-bottom: 2px solid #000;
}

.form-search {
	&:hover {
		.form-search__input-wrap {
			opacity: 1;
			visibility: visible;
		}
		.form-search__wrap-in {
		    height: 43px;
		}
		.form-search__wrap {
			-webkit-transform: rotateX(0deg); 
			-moz-transform: rotateX(0deg); 
			-o-transform: rotateX(0deg); 
			transform: rotateX(0deg); 
			height: 33px;
		}
		.form-search__submit {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form-search__submit {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s linear .6s;
	@include mmd() {
		margin-top: -11px;
	}
}