.header {
	padding-top: 20px;
	position: relative;
	z-index: 10;
	@include mmd() {
		padding-top: 10px;
	}
}

.header_fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
}

.header_background {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		height: 202px;
		width: 100%;

		background: url("../images/header-bg.png") 50% 50% no-repeat;
		background-size: cover;
		@include mmd() {
			height: 150px;
		}
	}
}

.header__container {

}

.header__row {

}

.header__top {
	// position: relative;
}

.header__logo {
	width: 260px;
	margin-bottom: 20px;
	@include mmd() {
		margin-bottom: 10px;
	}
}

.header__support {
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 0;
	width: 130px;
	padding-left: 15px;
	padding-right: 15px;
	@include mmd() {
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
		text-align: center;
	}
}

.header__support-item {
	font-size: $font_size_document;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;

}

.header__support-item_hamburger {
	@include md() {
		display: none;
	}
}


.header_margin_right {
	// right: 17px;
	// width: auto;
}