.img-wrap {
	font-size: 0;
	line-height: 1;
	position: relative;
	& > div {
		font-size: 14.76px;
	}
}


.img-wrap__txt {
	font-size: 14.76px;
	line-height: 18.45px;
	color: $color_map_text;
	font-weight: 600;
	max-width: 180px;
}

.img-wrap__txt_center {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	@media only screen and(max-width: 480px) {
		position: relative;
		left: auto;
		transform: none;
		max-width: none;
		text-align: center;
		margin-bottom: 5px;
	}

}


.img-wrap__img-description {
	font-size: 14px;
	line-height: 30px;
	margin-top: 10px;
}

.img-wrap__txt_intro {
	// @media only screen and(max-width: 480px) {
	// 	max-width: none;
	// 	width: 100%;
	// 	text-align: center;
	// }
}