.info {
	padding: 20px 0;
	font-size: 17px;
	display: block;
	color: $color_info;
	@include mlg() {
		padding: 15px 0;
	}
}

.info_list {
	// padding-left: 10px;
	// padding-right: 10px;
}

.info_col {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 25px;

	display: inline-block;
	vertical-align: top;
	width: 50%;

	@include mlg() {
		margin-bottom: 15px;
	}
	@media only screen and(max-width: 480px) {
		width: 100%;
	}
}

.info__title {
	@include mlg() {
		font-size: 12px;
		line-height: 16px;
	}
	@include mmd() {
		font-size: 14px;
		line-height: 18px;
	}
}

.info__title_main {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 15px;
}

.info__txt {
	position: relative;
	padding-left: 35px;

	font-size: 14px;
	line-height: 20px;
	// @include mlg() {
	// 	font-size: 12px;
	// 	line-height: 16px;
	// }
}

.info__txt_no-padding {
	padding-left: 0;
}


.info_border_bottom {
	border-bottom: 1px solid #e9e9e9;
}

.info__fa {
	position: absolute;
	left: 0;
	top: 0;

	font-size: 20px;
}

.info__txt-in {
	display: block;
	margin-top: 10px;
}

.info__wrap {
	font-size: 0;
	margin-left: -10px;
	margin-right: -10px;
}

.info__img-wrap {
	margin-bottom: 10px;
}

.info__nearby {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	@include mlg() {
		font-size: 10px;
		line-height: 14px;
	}
	@include mmd() {
		font-size: 12px;
		line-height: 14px;
	}
}