.input {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #eee;

	font-size: 15px;
	line-height: 15px;
	@include iph() {
		color: $color_document;
		font-size: 15px;
		line-height: 15px;
		opacity: .5;
	}
}