.intro {
	padding: 50px 0 40px;
	background-color: $backround_intro;
	@include mmd() {
		padding: 25px 0 15px;
	}
}

.intro__container {

}
.intro__row {

}
.intro__item {

}
.intro__item_content {

}
.intro__item_map {

}

.intro__img-wrap {
	img {
		width: 100%;
	}
}

.intro__content {
	p {
		@include mlg() {
			margin: 0 0 10px;
		}
	}
}

.intro__description {
	@media only screen and(max-width: 480px) {
		width: 100%;
		&:before {
			display: none;
		}
	}
	@include lg() {
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	@include mlg() {
		&:nth-child(2n) {
			&:before {
				display: none;
			}
		}
	}
}
