.lang {
	position: relative;
}

.lang__list {
	position: absolute;
	top: 100%;
	right: 0;
	width: 80px;
	border: 1px solid #eee;
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	// display: none;

	box-shadow: 0 0 5px 2px rgba(#000, .2);

	text-align: center;
	transition: linear .3s;

	opacity: 0;
	visibility: hidden;

	transition: linear .3s;
	li {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		position: relative;
		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
}

.lang__box {
	position: relative;
	display: block;
	padding-right: 20px;
	color: $color_lang;
	&:hover, &:focus {
		text-decoration: none;
		color: #000;
	}
}

.lang__box_no_padding {
	padding-right: 0;
}

.lang__caret {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

}

.lang__box-item {
	display: inline-block;
	vertical-align: middle;
}

.lang__box-item_icon {

}

.lang__box-item_txt {
	font-weight: 600;
	margin-left: 5px;
}

.lang__list_visible {
	opacity: 1;
	visibility: visible;
}