.logo {
	display: block;
	transition: linear .2s;
}


.logo__svg {
	fill: $color_logo_header_fill;
	height: 36px;
	&:hover {
		fill: $color_logo_header_fill_hover;
	}
}


.logo_footer {

}

.logo__svg_footer {
	fill: $fill_svg_logo_footer;
	&:hover {
		fill: $fill_svg_logo_footer_hover;

	}
}