.menu {

}

.menu__list {
	@include list();
	margin-left: -15px;
	margin-right: -15px;

	font-size: 0;
	text-align: center;

	li {
		display: inline-block;
		vertical-align: top;
		padding-left: 15px;
		padding-right: 15px;

		font-size: 17px;
	}
	a {
		text-transform: uppercase;
		display: block;
		padding-bottom: 3px;

		color: $color_menu;
		font-family: $o_s;
		font-weight: 600;

		font-size: 14.44px;
		line-height: 20.63px;

		overflow: hidden;
		position: relative;
		&:before {
			content: '';

			position: absolute;
			width: 100%;
			height: 2px;

			top: 100%;
			left: 0;
			margin-top: 2px;

			background-color: $background_menu_link_decoration;
			transition: linear .2s;
		}
		&:hover {
			&:before {
				margin-top: -4px;
			}
		}
	}
}

.menu__close {
	color: $color_close;
	position: absolute;
	right: 100%;
	top: 15px;
	z-index: 10;
	transition: right .2s linear .3s;
	@include md() {
		display: none;
	}
}


.menu_mob {
	@include mmd() {
		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		position: fixed;

		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;

		background-color: $backround_menu_mob;

		transition: linear .3s;
	}
}
.menu__list_mob {
	@include mmd() {
		background-color: $backround_menu_mob_list;
		width: 250px;
		height: 100%;
		padding-top: 50px;
		padding-left: 20px;
		
		position: absolute;
		right: 100%;
		top: 0;
		margin-left: 0;
		margin-right: 0;

		transition: right .2s linear .3s;
	}
	li {
		@include mmd() {
			display: block;
			text-align: left;
			margin-bottom: 10px;
		}
	}
}


.menu_visible {
	@include mmd() {
		opacity: 1;
		visibility: visible;
	}
	.menu__list {
		right: 0;
		transition: right .2s linear .3s;
	}
	.menu__close {
		right: 15px;
		transition: right .2s linear .3s;
	}
}