.menu-footer {
	margin-bottom: 20px;
}

.menu-footer__list {
	@include sm() {
		display: block !important;
	}
	@include msm() {
		display: none;
	}
	li {
		line-height: 1;
	}
	a {
		color: $color_menu_footer;
		font-size: 12px;
		line-height: 22px;
		display: block;

		transition: linear .2s;
		&:hover {
			color: $color_menu_footer_hover;

		}
	}
}

.menu-footer__title {
	font-size: 18px;
	line-height: 20px;
	color: $color_menu_footer_title;
	margin: 0 0 10px;
	font-weight: 600;
	&:hover, &:focus {
		color: $color_menu_footer_title_hover;
	}
	@include msm() {
		display: none;
	}
}

.menu-footer__title_mob {
	@include sm() {
		display: none;
	}
	@include msm() {
		display: block;
	}
}

.menu-footer__title-fa {
	margin-left: 5px;
}
