.news-section {
	padding: 40px 0;
	@include mmd() {
		padding: 20px 0;
	}
}

.news-section__container {

}

.news-section__title {

}

.news-section__row {
	margin-left: 0;
	margin-right: 0;
}

.news-section__item {
	padding-left: 0;
	padding-right: 0;
}


.news-section__button {
	margin-top: 35px;
}