.start-section__item {
	&:hover, &:focus {
		z-index: 10;
		.preview-start {
			color: $color_preview_start_hover;
		}
		.icon_loc_start:before {
			border-left-color: $color_preview_start_hover;
		}
		.icon__svg_start {
			fill: $color_preview_start_hover;
		}
	}
}

.preview-start {
	display: block;
	padding: 40px 40px 30px;
	background-color: $background_preview_start;
	color: $color_preview_start;
	text-align: center;
	transition: linear .2s;
	height: 100%;
	&:hover, &:focus {
		color: $color_preview_start_hover;
		background-color: $background_preview_start_hover;
		@include lg() {
			transform: scale(1.1, 1.1);
		}
		.icon_loc_start:before {
			border-left-color: $color_preview_start_hover;
		}
		.icon__svg_start {
			fill: $color_preview_start_hover;
		}

	}
	@media only screen and(max-width: 480px) {
		margin-bottom: 10px;
	}
}

.preview-start__icon {
	width: 55px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.preview-start__icon_insurance {
	width: 90px;
}

.preview-start__name {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.preview-start__content {
	p {
		font-size: 13px;
		line-height: 16px;
		margin: 0 0 10px;
	}
}



.preview-start__in {
	height: 185px;
	overflow: hidden;
}