.preview-news {
	display: block;
	color: $color_preview_news;
	padding: 30px 40px;
	height: 100%;

	background-color: $background_preview_news;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	transition: linear .3s;
	&:hover, &:focus {
		color: $color_preview_news;
		opacity: .8;
	}
	@include mmd() {
		margin-bottom: 10px;
	}
	// @media only screen and(max-width: 480px) {
	// 	margin-bottom: 10px;
	// }
}

.preview-news__date {
	color: $color_preview_news_date;
	font-size: 14px;
	line-height: 23.75px;
	margin-bottom: 10px;
}

.preview-news__content {
	p {
		font-size: 16px;
		line-height: 24px;
	}
}