.top-guides__item {
	transition: linear .3s;
	&:hover {
		@include lg() {
			// padding-bottom: 60px;
		}
		z-index: 10;
		.preview-guides {
			color: $color_preview_guides_hover;
			background-color: $background_preview_guides_hover;
			box-shadow: 0px 20px 25px 0px rgba(111, 100, 86, 0.2);
			@include lg() {
				// padding-bottom: 120px;
				padding-top: 10px;
				transform: scale(1.2, 1.2);
			}
		}
		.preview-guides__btn {
			opacity: 1;
			visibility: visible;
			transition: opacity .3s linear .3s,
						visibility .3s linear .3s,
						background-color .3s linear,
						color .3s linear,
						border-color .3s linear;
			
		}
	}
}

.preview-guides {
	display: block;
	text-align: center;
	color: $color_preview_guides;
	background-color: $background_preview_guides;
	padding: 30px 20px 50px;
	transition: linear .3s;
	height: 100%;
	&:hover, &:focus {
		color: $color_preview_guides;
	}
	@media only screen and(max-width: 767px) {
		padding-bottom: 10px;
	}
	@media only screen and(max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
	}
}


.preview-guides__in {
	overflow: hidden;
	@media only screen and(min-width: 481px) {
		height: 300px;
	}
}

.preview-guides__avatar {
	font-size: 0;
	line-height: 1;

	border-radius: 50%;
	overflow: hidden;

	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	@include mmd() {
		margin-bottom: 10px;
	}
	img {
		width: 100%;
	}
}


.preview-guides__name {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	color: #000;
	margin: 0 0 10px;
}


.preview-guides__rate {
	font-size: 0;
	margin: 0 0 10px;
}

.preview-guides__content {
	// height: 60px;
	// overflow: hidden;
	p {
		font-size: 13px;
		line-height: 19px;
		margin: 0 0 10px;
	}
}


.preview-guides__btn {
	font-size: 14px;
	line-height: 1;
	color: $color_button_preview_guides;

	padding: 15px 10px;
	border: 1px solid $background_button_preview_guides_border;
	max-width: 100%;
	width: 100%;
	@include md() {
		opacity: 0;
		visibility: hidden;

		width: 80%;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	// transition: linear .3s;

	// position: absolute;
	// width: 100%;
	// bottom: 10px;
	// left: 50%;
	// transform: translate(-50%, 0);
	&:hover {
		color: $color_button_preview_guides_hover;
		background-color: $background_button_preview_guides_hover;
		border-color: $background_button_preview_guides_border_hover;
	}
}

