.preview {
	position: relative;
	display: block;
	color: $color_preview;
	height: 100%;
	// text-align: center;
	padding: 30px 15px 25px;
	transition: linear .2s;
	&:hover, &:focus {
		color: $color_preview;
	}
}

.preview_overlay {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(#000, .4);
		transition: linear .2s;
	}
	&:hover {
		&:before {
			background-color: rgba(#000, .3);
		}
	}
}



.preview_city {
	// padding: 30px 15px 25px;
}

.preview_category {
	padding: 110px 30px 100px;
	height: 100%;
	@include mlg() {
		padding: 80px 50px;
	}
	@include msm() {
		padding: 60px 15px;
	}
}



.preview__category {
	font-weight: 600;
	font-size: 13px;
	line-height: 17px;
	text-transform: uppercase;
}

.preview__name {
	font-weight: 600;
	font-size: 50px;
	line-height: 50px;
	color: $color_preview;
	
}


.preview__name_city {
	margin: 75px 0 85px;
	@include mxl() {
		font-size: 40px;
		line-height: 40px;
	}

}

.preview__name_category {
	padding-bottom: 30px;
	margin-bottom: 30px;
	position: relative;
	&:before {
		content: '';

		width: 70px;
		height: 4px;
		
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);

		background-color: #d7c59f;

	}
}


.preview__content {
	p {
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 15px;
	}
}

.preview__foot {
	font-size: 12px;
	line-height: 14px;
}


.preview_things {
	color: $color_preview_things;
	padding: 0;
	&:hover, &:focus {
		color: $color_preview_things;
		opacity: .8;
	}
}

.preview__img-wrap_things {
	margin-bottom: 25px;
	// padding: 0 10px;
	height: 240px;
	img {
		height: 100%;
		width: 100%;
	}
}


.preview__txt-bold {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	padding: 0 5px;
}





.preview_upcoming {
	color: $color_preview_upcoming;
	background-color: $background_preview_upcoming;
	padding: 30px 30px 60px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	&:hover, &:focus {
		color: $color_preview_upcoming_hover;
		.preview__in-upcoming {
			& > * {
				color: $color_preview_upcoming_hover;
			}
		}
		.preview__img-overlay {
			opacity: 1;
			visibility: visible;
			top: 0;
		}
	}
	@include mmd() {
		margin-bottom: 10px;
		min-height: auto !important;
		
	}
	@include msm() {
		padding: 20px 15px 60px;
	}
	@media only screen and(max-width: 480px) {
		width: 100%;
	}
}


.preview__category_upcoming {
	font-weight: 700;
	// color: #ed5454;
	letter-spacing: 3px;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 20px;
}

.preview__content-bold {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}


.preview__img-overlay {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
	line-height: 1;

	opacity: 0;
	visibility: hidden;

	transition: linear .3s;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: $background_preview_overlay_img;
	}
}

.preview__in-upcoming {
	position: relative;
	@media only screen and(max-width: 480px) {
		height: auto;
	}
}


.preview__date {
	position: relative;
	position: absolute;
	bottom: 20px;
	left: 30px;
	@include msm() {
		left: 15px;
	}
	// @media only screen and(max-width: 480px) {
	// 	position: relative;
	// 	bottom: auto;
	// 	left: auto;
	// 	margin-top: 20px;
		
	// }
}


.preview__in {
	position: relative;
}