.search-form {
	position: relative;
}

.search-form__input {
	border: none;
	border-bottom: 1px solid transparent;
	padding: 5px 10px;
	width: 0;

	color: #000;
	transition: linear .3s;
	padding: 0;

	position: absolute;
	top: 50%;
	right: 25px;
	transform: translate(0, -50%);

	background-color: transparent;
}

.search-form__input_open {
	width: 200px;
	border-color: #999;
}

.search-form__icon {
	width: 20px;
	height: 20px;

	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

	cursor: pointer;
}


.search-form {
	// display: inline-block;
	&:focus {
		.search-form__input {
			width: 200px;
		}
	}
}