.social {
	color: $color_social;
	padding-left: 10px;
	padding-right: 10px;
}

.social__list {
	font-size: 0;
	line-height: 1;
	margin-left: -10px;
	margin-right: -10px;
	li {
		font-size: 17px;
		display: inline-block;
		vertical-align: top;

		margin-left: 10px;
		margin-right: 10px;
	}
	a {
		color: $color_social;
		transition: linear .2s;
		&:hover {
			color: $color_social_hover;

		}
	}
}