.start-section {

}

.start-section__container {

}

.start-section__title {

}

.start-section__row {

}

.start-section__item {
	@include xl() {
		width: 20%;
	}
	@media only screen and(max-width: 480px) {
		width: 100%;
	}
}
