.things-section {
	padding: 50px 0 45px;
	background-color: $background_things_section;
	@include mmd() {
		padding: 20px 0;
	}
}



.things-section__container {

}

.things-section__title {

}

.things-section__content {

}

.things-section__row {

}

.things-section__item {
	margin-bottom: 40px;
	@include mmd() {
		margin-bottom: 30px;
	}
	@media only screen and(max-width: 576px) {
		width: 100%;
	}
}

.things-section__button {
	margin-top: 40px;
}
