.thumb-nav {
	font-size: 0;
}

.thumb-nav__item {
	position: relative;
	width: 300px;
	height: 190px;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	@include mmd() {
		height: 170px;
	}
	@include msm() {
		height: 150px;
	}
}


.thumb-nav__txt {
	position: absolute;
	left: 15px;
	bottom: 20px;

	font-size: 14px;
	color: $color_thumb_nav_txt;
	line-height: 18px;
	max-width: 60%;
}