.thumb-for {
	font-size: 0;
	.slick-arrow {
		width: 25px;
		height: 50px;
		display: block;
		transition: linear .2s;
		&:hover {
			transform: translateY(-50%) scaleX(1.1) scaleY(1.1);
		}
		&:before {
			display: none;
		}
		
	}
	.slick-prev {
		top: 55%;
		left: 13%;
		z-index: 99999;
		background: url("../images/chevron-left.png") 50% 50% no-repeat;
		@include mmd() {
			left: 5%;
		}
	}
	.slick-next {
		top: 55%;
		right: 13%;
		z-index: 99999;
		background: url("../images/chevron-right.png") 50% 50% no-repeat;
		@include mmd() {
			right: 5%;
		}
	}
}

.thumb-for__item {
	min-height: 580px;
	position: relative;
	@include mlg() {
		min-height: 500px;
	}
	@include mmd() {
		// min-height: 400px;
	}
	@include msm() {
		min-height: 400px;
	}
}


.thumb-for__city-name {
	position: absolute;
	top: 55%;
	left: 0;
	width: 100%;
	margin-top: -40px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;

	color: $thumb_for_city_color;
	font-size: 80px;
	line-height: 80px;
	font-weight: 400;
	@include mmd() {
		font-size: 60px;
		line-height: 60px;
		margin-top: -30px;
	}
}

