.top-guides {
	padding: 50px 0 180px;
	overflow: hidden;
}


.top-guides__title {
	margin: 0 0 10px;
}

.top-guides__item {
	@media only screen and(max-width: 480px) {
		width: 100%;
	}
}


.top-guides__button {
	margin-top: 50px;
}