<div class="top-guides  background-default  background-cover"  style="background-image: url(images/top-guides_bg.jpg);">
	<div class="top-guides__container container">
		<div class="top-guides__title-wrap  col-sm-8  col-centered  text-center  col-no-padding  col-margin-responsive">
			<h2 class="top-guides__title  title-h2  text-center  color-white">Top Guides</h2>
			<div class="top-guides__content-after-title  content  content_after-title_white">
				<p>The region’s cradle of culture for more than two millennia, Uzbekistan is the proud home to a spellbinding arsenal of architecture and ancient cities.</p>
			</div>
		</div>
		<div class="top-guides__row row  row-no-gutters">
			<div class="top-guides__item  col-xs-6  col-md-3  col-no-padding">
				<div class="preview-guides  link-hover-decoration-none">
					<div class="preview-guides__avatar">
						<img src="images/avatar-1.png" alt="">
					</div>
					<h4 class="preview-guides__name">Ericka Sanchez</h4>
					<div class="preview-guides__rate">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</div>
					<div class="preview-guides__content content">
						<p>We tried to make it as versatile as possible, at the same time getting rid of all the redundant features to help you</p>
					</div>
					<a href="#" class="preview-guides__btn  button">
						<div class="preview-guides__btn-in">Profile</div>
					</a>
				</div>
			</div>
			<div class="top-guides__item  col-xs-6  col-md-3  col-no-padding">
				<div class="preview-guides  link-hover-decoration-none">
					<div class="preview-guides__avatar">
						<img src="images/avatar-2.png" alt="">
					</div>
					<h4 class="preview-guides__name">Ericka Sanchez</h4>
					<div class="preview-guides__rate">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</div>
					<div class="preview-guides__content content">
						<p>We tried to make it as versatile as possible, at the same time getting rid of all the redundant features to help you</p>
					</div>
					<a href="#" class="preview-guides__btn  button">
						<div class="preview-guides__btn-in">Profile</div>
					</a>
				</div>
			</div>
			<div class="top-guides__item  col-xs-6  col-md-3  col-no-padding">
				<div class="preview-guides  link-hover-decoration-none">
					<div class="preview-guides__avatar">
						<img src="images/avatar-3.png" alt="">
					</div>
					<h4 class="preview-guides__name">Ericka Sanchez</h4>
					<div class="preview-guides__rate">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</div>
					<div class="preview-guides__content content">
						<p>We tried to make it as versatile as possible, at the same time getting rid of all the redundant features to help you</p>
					</div>
					<a href="#" class="preview-guides__btn  button">
						<div class="preview-guides__btn-in">Profile</div>
					</a>
				</div>
			</div>
			<div class="top-guides__item  col-xs-6  col-md-3  col-no-padding">
				<div class="preview-guides  link-hover-decoration-none">
					<div class="preview-guides__avatar">
						<img src="images/avatar-4.png" alt="">
					</div>
					<h4 class="preview-guides__name">Ericka Sanchez</h4>
					<div class="preview-guides__rate">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</div>
					<div class="preview-guides__content content">
						<p>We tried to make it as versatile as possible, at the same time getting rid of all the redundant features to help you</p>
					</div>
					<a href="#" class="preview-guides__btn  button">
						<div class="preview-guides__btn-in">Profile</div>
					</a>
				</div>
			</div>
		</div>
		<a href="#" class="top-guides__button  button  button_center  button_main  button_main_blue">
			<span class="button_in">See others</span>
		</a>
	</div>
</div>