<!--[if lte IE 8]>
	<div class="blockIE">
		<p>Пожалуйста, обновите ваш браузер</p> 
		<img src="images/top-section_main.jpg" alt=""  class="blockIE__img">
	</div>
<![endif]-->

<header class="header  header_background  header_fixed">
		<div class="header__container  container">
			<div class="header__row  row">
				<div class="header__top  col-xs-12">
					<a href="#" class="header__logo  logo  img-wrap  col-centered">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 420.6 593.2 82.9" enable-background="new 0 420.6 593.2 82.9" xml:space="preserve" class="svg  logo__svg">
							<g>
								<g>
									<path  d="M592.8,444.9c-0.2-3.7-0.3-7.3-0.7-11c-0.2-2.3-0.9-4.6-4.1-3.8c-1,1.1-1.7,2.6-1.8,4.1
										c-0.3,3.6-0.6,7.2-0.9,10.7c0,0.1-0.1,0.3-0.1,0.4c-0.2,0.3-0.3,0.6-0.4,0.9c-0.2,0.8-0.3,1.6-0.3,2.4l-0.1,0.5
										c-1.4,6.2-3.4,12.3-6.1,18.1c-1.3,3-2.2,3.3-4.9,1.5c-5.3-3.3-8.9-8.2-12.5-13.2l-6.1-7.6l-1.7-0.8l-0.7-1c0,0,0.1-0.1,0.1-0.1
										c0.1-1.1-0.7-1.4-1.5-1.8l-0.6-0.5c-1.5-3.3-4.9-3.2-7.6-3.5c-2.4-0.3-3.6,2.2-4.7,4.3c-0.7,1.6-1.2,3.3-1.3,5c-0.2,1-0.3,2-0.5,3
										c-1.9,11-3.4,22-2,33.2c0.7,1.8,2.5,2.8,4.4,2.5l-0.1,0c4.1-0.2,4.2-0.5,4.7-4.3c0.2-1.7-0.4-3.4,0.2-5.1l0.1-1.7
										c0.4-1.4,0.2-2.9,0.5-4.4l0.1-0.6c0.7-1-0.1-2.3,0.9-3.2c0.5-1.2,0.8-2.5,0.9-3.8c0.2-0.2,0.5-0.4,0.8-0.5c0.1,0,0.1-0.1,0.2-0.1
										c3.2,3.8,5.4,8.4,8.8,12l0,0c4.2,5.2,8.6,10.1,15.8,11.1c0.1,0.2,0.3,0.4,0.4,0.6c2.8,1,5.2-0.1,7.7-1.1l1.1-0.7
										c2.2-0.8,4.1-2.4,5.3-4.4c1.4-2.3,2.4-4.7,3-7.3l0.1-1.6l0,0l1-2.2c1-3.3,1.7-6.7,1.9-10.1l-0.1-0.2l0.1-0.2
										C592.3,455.3,593.9,450.2,592.8,444.9z M553.1,447.3L553.1,447.3C553.1,447.3,553.1,447.3,553.1,447.3
										C553.1,447.3,553.1,447.3,553.1,447.3z"/>
									<path  d="M429.3,464.3c-0.1-0.9-0.8-1.7-1.7-1.8c-0.2-0.1-0.4-0.1-0.6-0.2c-1.5-1.5-3.5-2.3-5.2-3.6l-4.2-1.3
										c-3.3-1.8-7.1-1.8-10.6-3.1c-4-1.5-8.4-1.7-12.4-3.1c-0.7,0.1-1.4-0.2-1.8-0.7c-1-0.8-2-1.3-3.2-1.7c-2.4-1.8-1.3-3.2,0.6-4.4
										c6-2.1,12.1-1.9,18.3-1.9c5.5-0.1,6.3-0.8,6.2-6.4c0-0.9-0.1-1.9-0.2-2.8c-0.2-1.7-1.6-3-3.3-3.1c-8.3-1.2-16.8,0.3-24.2,4.3
										l-1.1,0.6l0,0l-1.3,0.1c-0.3,0.5-0.7,0.9-1.3,1.2c-3.5,2-6.4,5-8.2,8.6c-2.6,4.6-1.2,10.5,3.3,13.4c1.8,1.2,3.7,2.2,5.8,2.9
										c4,1.2,8,2,12.1,2.6c6.4,1.2,13,1.8,19.2,4.3c0.5,0.6,1.3,0.4,2,0.6c1.8,1,4.4,1.3,3.8,4.4c-1.5,1.8-2.9,3.7-4.5,5.5l-2,1.9
										c-0.7,0.2-1.3,0.6-1.7,1.3c-1.5,1.6-3.7,1.9-5.5,3c-0.7,0.1-1.4,0.3-2,0.6c-10,2.2-19.7,0.6-29.2-2.8c-2.6-1.2-5.7-0.4-7.4,2
										c-1.5,1.6-2.6,3.5-3.4,5.5c-0.9,1.8-0.4,4,1.1,5.3c3.4,3,7.4,5.3,11.7,6.8c1.8,0,3.4,1.2,5.3,0.8c1,0.5,2.1,0.7,3.3,0.6
										c4.8,0.3,9.6,0.1,14.3-0.7c0.8-0.4,1.6-0.7,2.5-0.6c4.1-1.4,8-3,11.8-4.9c0-0.1,0.1-0.2,0.1-0.3c0,0,0.1,0,0.1,0l0.3-0.4
										c3.5-1.8,6.5-4.4,8.8-7.6c0.2,0,0.4,0,0.6,0c4.2-4.1,6.6-9.6,6.6-15.4C432.3,470.3,432.3,466.6,429.3,464.3z"/>
									<path  d="M526.9,481.6L526.9,481.6c-1.4-6.3-3.2-12.6-5.5-18.7l0,0l-1.4-5.4l-2.8-5.8l0,0
										c-1.7-4.4-4.3-8.4-7.6-11.7c-4.4-3.2-8.8-5.6-14.3-2.4c-3.2,3.2-5.8,6.9-7.7,11l-2.3,3.3c-4.3,9.4-8.5,18.8-11.9,28.6
										c-1,3-0.2,4.8,2.4,6.1c1.6,0.8,3.3,1.3,5,1.5c1.9,0.4,3.8-0.7,4.3-2.6c1.2-3.1,2.5-6,3.8-9.1c1.8-2.6,3.3-5.5,4.4-8.5
										c0.8-0.9,1.4-2,1.7-3.1c2.2-4,4.5-8,6.6-12.1c1.1-2.2,2.2-2.8,4-0.8c3.6,4.9,6.7,10.1,9.3,15.6c0.6,2.1,1.4,4.2,2.4,6.1
										c1,2.8,1.9,5.7,2.9,8.5c1.2,3.3,3.6,3.9,6.6,1.5C527.7,482.8,527.2,482.2,526.9,481.6L526.9,481.6z M492.1,468.9
										c0.3-0.5,0.8-0.9,1.3-1l0,0C492.9,468.2,492.5,468.5,492.1,468.9z"/>
									<path  d="M475,439.7c-0.1-0.3-0.2-0.6-0.3-0.9c-0.5-1.9-2.4-3.1-4.4-2.6c-0.1,0-0.1,0-0.2,0
										c-12.2,2.3-24.6,2.4-37,2.3c-2.7-0.2-5.4-0.1-8,0.2c-2.3,2.9-3.5,6.4-3.6,10.1c-0.1,1.4,0.6,2.2,1.9,2.2c3,0.1,5.9,0.1,8.9,0.1
										c1.5,0.4,3,0.5,4.5,0.3h2c1.5,0.3,3,0.2,4.5-0.3l0,0l4.1,0c1.2,1,0.9,2.5,0.9,3.8c0.4,9.9,0.3,19.7-0.2,29.6
										c0.2,2.1,1.1,3.8,3.5,4c2.1,0.4,4.3,0.1,6.3-0.8c0.7-0.4,1.4-1.1,1.8-1.8c0.4-1.4,0.5-2.9,0.3-4.3c-0.1-0.3-0.1-0.6-0.2-0.9
										c-0.3-1-0.5-2-0.6-3.1c-0.3-1-0.3-2.1-0.6-3.1c-0.7-2.8-0.7-5.7-1.7-8.5c-0.5-1.2-0.8-2.5-0.7-3.8c-0.2-0.8-0.3-1.6-0.3-2.4
										c-0.2-2.1-0.3-4.2-0.2-6.4c0-1.3,0-2.5,1.6-2.9c2.8-0.4,5.5-0.9,8.4-1.1c1.7-0.1,3.7-0.1,5.1-1.6c0.1-0.2,0.2-0.3,0.3-0.5
										C476.8,446.6,477.3,445.5,475,439.7z"/>
									<path  d="M226.5,470.9c-0.1-1.3-0.8-2.5-1.9-3.2c0.1,0.1,0.1,0.2,0.1,0.2c0-0.1-0.1-0.2-0.1-0.2
										c-0.8-1.5-2.7-1.7-3.7-3c-0.3-0.8-1.1-1.3-1.9-1.2l0,0l-2.6-1.3l0,0c-0.5-1-1.5-1.1-2.4-1.3c-2.7-1.3-5.5-2.4-8.3-3.2
										c-0.9-0.3-2.4-0.1-2.4-1.4c-0.1-1.1,1-1.7,1.9-2.2c2-3,5.3-5.5,3.9-9.9c-0.9-0.8-1.6-1.9-2.9-2c-0.1,0.1-0.2,0.1-0.3,0.1
										c0.1-0.1,0.1-0.2,0.2-0.4c-1.4-1.8-3.5-1.6-5.3-2.1c-0.8,0-1.7,0.2-2.4-0.4c-1.8-1-3.9-1.4-5.9-1.1c0,0.1-0.1,0.3-0.1,0.4
										c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.2-0.2-0.3-0.1c0,0-0.1,0-0.1,0.1l-0.1,0.1c0-0.2-0.1-0.4-0.3-0.5c-6.7-0.7-13.4-2-20.2-2.1
										c-2,0-4.1-0.3-5.8,1.4c-1.4,1.7-0.4,3.6-0.3,5.4c0.1,0.2,0.3,0.3,0.4,0.3l1,12.3c0.9,7.4,1.8,14.9,2.8,22.3
										c1.3,9.7,1.3,9.7,11.2,10c0.1,0,0.2,0,0.3-0.1c4.7,0.6,9.5,0.6,14.3,0c8.4-0.3,16.6-2.5,24.1-6.2c1.8-0.8,3.4-2,4.5-3.6
										c0.1-0.1,0.1-0.1,0.1-0.2c0,0.1-0.1,0.1-0.1,0.2c1.3-0.3,1.6-1.3,2-2.3l0,0v0C227,474.3,227.2,472.4,226.5,470.9L226.5,470.9z
										 M209.6,476.7c-1.1,0.7-2.3,1.2-3.7,1.5c-7.8,1.7-15.9,1.6-23.6-0.4c-1.9-0.3-3.3-1.8-3.4-3.8c-1.2-8.5-2.6-16.9-4.1-25.3
										c-0.5-2.8,0-4.6,3.1-4.9c3.7-0.3,7.4-0.2,11.1,0.2c2.1,0.7,4.4,0.8,6.4,2.1c1.8,1.2,2,2.4,0.1,3.5c-2.3,1.4-4.7,2.6-7,4
										c-1.9,1-3.8,2.1-5.5,3.4c-3.1,2.4-2.7,4.4,0.8,5.8c1.6,0.6,3.3,1.1,5,1.6c6.7,2.1,13.7,3.5,19.5,7.9c0.3,0.8,1.1,1.1,1.8,1.5
										C210.4,474.8,210.9,475.9,209.6,476.7L209.6,476.7z"/>
									<path  d="M325.8,478.3L325.8,478.3L325.8,478.3c-4.8-1.3-9.6-3-14.3-4.8l-1.2-0.7c-2.6-2-5.3-4.1-7.9-6.1
										c-1.3-0.7-1.9-2.3-1.3-3.7l0,0c4.3-3,8.4-6.3,12.3-9.8c1.5-0.7,2.8-1.9,3.6-3.3l0.6-0.6l0,0c2.4-0.8,3.4-3.4,5.5-4.6l3.7-4.2
										c0.4-2-0.9-2.8-2.4-3.4c-1.4-0.7-3.1-0.5-4.2,0.7c-1.3,1.3-2.5,2.6-3.8,4l0,0l-3.7,3.1l-5,3.1l-3.2,2.3l0,0l-8.5,4
										c-1.7,0.2-2.8-0.1-2-2.2c0.6-1.6,0.1-3.4,0.5-5.1l-0.1-0.2l0.1-0.1c1.1-1.8,0.8-3.9,1.6-5.8c0.5-1.4-0.3-2.3-1.6-2.8l0,0l-0.7-0.1
										c-0.1-0.2-0.2-0.4-0.3-0.6c-2.3-1.8-5.1-1.9-7.8-2.4c-1.3-0.3-2.5,0.5-2.8,1.8c0,0,0,0,0,0.1c0.1,15.8,0.7,31.7-0.6,47.4
										c-0.2,2.9,1.1,3.7,3.5,3.7c1,0,2.1-0.1,3.1-0.3c1.9-0.2,2.5-1.1,2.3-3.1c-0.4-3.5-0.4-7-0.4-10.5c0-1.1-0.5-2.6,0.5-3.2
										c1.2-0.7,1.9,0.8,2.8,1.4c0.8,0.5,1.5,1.1,2.2,1.7c6.5,4.6,12.9,9.3,20.6,11.9c3.6,1.9,7.7,2.5,11.7,1.9c4.6-0.6,7.1-3.9,6.4-8
										C332,478.7,328.8,478.9,325.8,478.3z"/>
									<path  d="M160,472.2L160,472.2L160,472.2c0-1.7-0.3-3.3-0.9-4.9c-0.6-2.1-1.5-3-3.7-1.4c-1.6,1.3-3.4,2.3-5.4,2.7
										l-1,0.6l-2.1,1.3c-0.2-0.1-0.5-0.1-0.7-0.1c-4.5,1.2-8.8,2.9-13.4,3.2c-0.4,0,0.1,0-0.3,0.1c-0.2,0.2-0.5,0.3-0.8,0.4
										c-5.8,0.6-11.7,0.9-17.6,0.8c-0.8,0-2-0.1-1.9-1.5l0,0c1.9-1.3,4.2-2,5.5-4l0.7-0.4c7.8-3.8,15.2-8.2,22.3-13.2
										c0.8-0.6,1.4-1.5,1.6-2.5c3-1.7,5.8-3.6,7-7.2l0,0c-0.3-2-0.4-4.1-3.1-4.4c-0.9-1.5-2.5-1.4-3.9-1.8l-1.7-0.1l-1.9-1.2
										c-4.2-1.1-8.4-1.8-12.7-2.3c-6-0.3-12.1-1.4-17.9,1.5l0,0c-5.3,2.8-8.9,7.9-9.7,13.7c1.6-0.1,3.3,0,4.9-0.2
										c8.4-1,16.8-1.5,25.3-1.5c1.2,0,2.6-0.5,3.3,1.1l-5.5,3.9l-2,1.7l-6,3.3c-8.6,5.3-17.8,9.5-26.8,14.1c-0.1,0.2-0.1,0.4-0.2,0.5
										c-3.2,1.2-6,3.4-7.7,6.4c-1.6,2.7-0.7,4.3,2.3,4.8c1.5,0.3,3.1,0.4,4.6,0.6c15.9,1.8,32,2.2,48,1.2c5-1,10.2-1.5,15.1-3
										c2-0.4,3.8-1.6,4.9-3.3C160.5,478.7,161,475.3,160,472.2L160,472.2z"/>
									<path  d="M7.7,420.6c-0.9-0.1-1.8,0.1-2.5,0.6c-4.7,1.1-5.1,1.8-4.9,7.6C0,430-0.1,431.2,0,432.4
										c0.2,6.2,1,12.5,2.2,18.6c1.7,4.9,2.8,10,5.5,14.6l0,0c2.8,7,7.3,13.2,13,18.1c1.5,1.6,3.3,3,5.2,4c12.7,6.8,25,6.6,36.9-1.9
										l0.6-1c0,0,0.1,0,0.1,0.1c1.7-0.2,2.5-1.5,3.1-2.9c2.6-3.9,5.7-7.5,6.9-12.2l3.7-8.7c1.8-7.2,3.1-14.4,4.1-21.8
										c1.2-9.4,1.3-9.4-7.3-12.9c-1.8-0.3-3.7-0.6-5.5-0.8c-4.1-0.5-4.3-0.1-3.6,3.8c1.3,7.6,2.4,15.3,1.1,23.1c0.1,5.2-1.6,10-3.1,14.9
										l-1.1,1.4c-1.7,4.4-5,8-9.4,9.9c-6.8,3.7-15.1,2.9-21.1-2l0,0l-2.2-3c-0.6-0.4-1-1-1.1-1.7c-0.1-0.6-0.4-1-1-1
										c0.4-0.5,0.3-1.2-0.2-1.6c0,0,0,0,0,0c-0.3-1.3-0.1-2.7-1.3-3.8l-0.4-0.1l0,0c-1.6-8.2-2-16.6-1.3-24.9c0.3-4.5,0.8-9,1.2-13.5
										c0.2-0.6,0.4-1.2,0.5-1.8 M61.8,471c0-0.1,0.1-0.2,0.1-0.2c0,0,0,0.1,0,0.1C61.9,471,61.9,471,61.8,471z M72.4,470.4L72.4,470.4z"
										/>
									<path  d="M272.7,475c-0.8-2.7-1.5-3-4.1-1.4c-1.2,1-2.7,1.6-4.2,1.8c-7.2,2.7-13.6,1.1-19.4-3.7
										c-1-0.8-1.7-1.8-2.1-2.9c-3.4-8.5-1.1-15.3,6.8-20.4c4.8-3,10.2-4.4,15.6-5.5c0.8-4.9-1.3-8.9-3.6-12.9c-0.5-2-2.1-3.3-3.2-4.9
										c-0.4-0.5-1-0.7-1.7-0.6c-0.8,0.4-1.8,0-2.5,0.6c-3.6,0.6-7.1,1.4-9.5,4.5c0,0.1,0,0.2,0.1,0.3l-0.1-0.1l-1.7,0.8
										c-3.6,3-6.7,6.6-9.3,10.5l-1.4,4.4c-0.2,0.2-0.3,0.5-0.5,0.7c-2.2,8.2-1.5,16.9,1.9,24.6c2.8,7.6,9,13.4,16.7,15.7
										c0.5,0.7,1.2,0.3,1.9,0.5c1.7,0.8,3.5,1.2,5.4,1c0.1-0.1,0.2-0.2,0.3-0.3c0.7,0.7,1.6,0.5,2.5,0.6c1.1,0,2.2,0,3.3,0
										c1.9,0.3,3.9,0.1,5.8-0.6c2.9-0.7,4.4-2.3,4.1-5.2C273.6,480.1,273.2,477.5,272.7,475z"/>
									<polygon  points="266.7,462.3 266.7,462.3 266.7,462.3 		"/>
									<path  d="M263.2,452.9c-4.5,0.5-8.9,2-12.8,4.3c-2.4,1.3-3.2,3-2.6,5.6s2.8,2.5,4.7,2.4c4.9-0.2,9.6-1.1,14.2-2.9
										c1.5-1.8,0.9-3.9,0.7-5.9C267.2,453.8,266,452.6,263.2,452.9z"/>
									<path  d="M503.6,471.3c-1.7,0-3.4,0.5-4.9,1.5l0,0c-3.2,1.3-4.8,4.9-3.5,8.1c0,0.1,0.1,0.2,0.1,0.2
										c1,2.7,3.3,3.7,6.9,2.8c1.3-0.2,2.6-0.7,3.7-1.5c4.1-1.4,5.6-3.6,4.9-7.2C510.1,472,507.9,470.8,503.6,471.3z"/>
									<path  d="M350.6,436.8c-3-1.3-4.2-0.5-4.4,2.7c-1,15.2-2,30.5-2.9,45.7c1.9,1.8,4.5,1.6,6.7,2.4
										c1.5,0.1,3.1,0.1,4.6,0.2c5.5,0.2,5.4,0.2,5.5-5.3c-0.1-13.1-1.4-26.1-3.9-38.9C355.5,440.6,353.4,438,350.6,436.8z"/>
								</g>
							</g>
						</svg>
					</a>
				</div>
				<div class="header__support">
					<div class="row">
						<div class="header__support-item">
							<form class="header__form  form-search">
								<div class="form-search__btn  icon  icon_search">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 90 612 613.3" enable-background="new 0 90 612 613.3" xml:space="preserve" class="icon__svg_search  svg">
										<path d="M605.9,667.8L443.4,505.1c90.2-105.8,77.5-264.7-28.4-354.9C315.1,65,166.6,70.9,73.7,163.7
										c-98.3,98.3-98.3,257.8,0.1,356.1c92.8,92.8,241.4,98.7,341.3,13.6l162.7,162.6c7,8.6,19.6,9.9,28.1,2.9c8.6-7,9.9-19.6,2.9-28.1
										C608,669.7,607,668.7,605.9,667.8z M251.8,553.5c-117,0-211.9-94.8-211.9-211.8s94.8-211.9,211.8-211.9
										c117,0,211.9,94.8,211.9,211.8c0,56.2-22.3,110.1-62,149.8C361.9,531.4,308,553.7,251.8,553.5z"/>
									</svg>
								</div>
								<div class="form-search__input-wrap">
									<div class="form-search__wrap-in">
										<div class="form-search__wrap">
											<input type="search" class="form-search__input  input" placeholder="Search...">
											<input type="submit" class="form-search__submit  input-submit  icon  icon-search-b64" value="поиск">
										</div>
									</div>
								</div>
							</form>
						</div>
						
						<div class="header__support-item  header__support-item_lang">
							<div class="lang">
								<a href="#" class="lang__box  lang__box_popup_open">
									<div class="lang__icon  icon  icon_lang_en">
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 90.8 612 611.2" enable-background="new 0 90.8 612 611.2" xml:space="preserve" class="icon__lng-en  svg">
											<circle fill="#F0F0F0" cx="306" cy="396" r="306"/>
											<g>
												<path fill="#0052B4" d="M63.3,209.7C39.2,241,21.1,277,10.5,316.2h159.2L63.3,209.7z"/>
												<path fill="#0052B4" d="M601.5,316.2c-10.6-39.2-28.7-75.2-52.7-106.5L442.3,316.2H601.5z"/>
												<path fill="#0052B4" d="M10.5,475.8C21.1,515,39.2,551,63.3,582.3l106.5-106.5H10.5L10.5,475.8z"/>
												<path fill="#0052B4" d="M492.3,153.3c-31.3-24-67.3-42.2-106.5-52.7v159.2L492.3,153.3z"/>
												<path fill="#0052B4" d="M119.7,638.7c31.3,24,67.3,42.2,106.5,52.7V532.3L119.7,638.7z"/>
												<path fill="#0052B4" d="M226.2,100.5c-39.2,10.6-75.2,28.7-106.5,52.7l106.5,106.5V100.5z"/>
												<path fill="#0052B4" d="M385.8,691.5c39.2-10.6,75.2-28.7,106.5-52.7L385.8,532.3L385.8,691.5L385.8,691.5z"/>
												<path fill="#0052B4" d="M442.3,475.8l106.5,106.5c24-31.3,42.2-67.3,52.7-106.5H442.3z"/>
											</g>
											<g>
												<path fill="#D80027" d="M609.4,356.1H345.9h0V92.6C332.8,90.9,319.5,90,306,90c-13.5,0-26.8,0.9-39.9,2.6v263.5v0H2.6
													C0.9,369.2,0,382.5,0,396c0,13.5,0.9,26.8,2.6,39.9h263.5h0v263.5c13.1,1.7,26.4,2.6,39.9,2.6c13.5,0,26.8-0.9,39.9-2.6V435.9v0
													h263.5c1.7-13.1,2.6-26.4,2.6-39.9C612,382.5,611.1,369.2,609.4,356.1z"/>
												<path fill="#D80027" d="M385.8,475.8L385.8,475.8l136.5,136.5c6.3-6.3,12.3-12.8,18-19.6L423.5,475.8L385.8,475.8L385.8,475.8
													L385.8,475.8z"/>
												<path fill="#D80027" d="M226.2,475.8L226.2,475.8L89.6,612.4c6.3,6.3,12.8,12.3,19.6,18l116.9-116.9L226.2,475.8L226.2,475.8z"/>
												<path fill="#D80027" d="M226.2,316.2L226.2,316.2L89.6,179.6c-6.3,6.3-12.3,12.8-18,19.6l116.9,116.9L226.2,316.2L226.2,316.2z"/>
												<path fill="#D80027" d="M385.8,316.2L385.8,316.2l136.5-136.6c-6.3-6.3-12.8-12.3-19.6-18L385.8,278.5V316.2z"/>
											</g>
										</svg>
									</div>
									<i class="lang__caret  fa fa-caret-down"></i>
								</a>
								<ul class="lang__list  list">
									<li>
										<a href="#">
											<div class="lang__box  lang__box_no_padding">
												<div class="lang__box-item  lang__box-item_icon  icon  icon_lang_en">
													<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
														 viewBox="0 90.8 612 611.2" enable-background="new 0 90.8 612 611.2" xml:space="preserve" class="icon__lng-en  svg">
														<circle fill="#F0F0F0" cx="306" cy="396" r="306"/>
														<g>
															<path fill="#0052B4" d="M63.3,209.7C39.2,241,21.1,277,10.5,316.2h159.2L63.3,209.7z"/>
															<path fill="#0052B4" d="M601.5,316.2c-10.6-39.2-28.7-75.2-52.7-106.5L442.3,316.2H601.5z"/>
															<path fill="#0052B4" d="M10.5,475.8C21.1,515,39.2,551,63.3,582.3l106.5-106.5H10.5L10.5,475.8z"/>
															<path fill="#0052B4" d="M492.3,153.3c-31.3-24-67.3-42.2-106.5-52.7v159.2L492.3,153.3z"/>
															<path fill="#0052B4" d="M119.7,638.7c31.3,24,67.3,42.2,106.5,52.7V532.3L119.7,638.7z"/>
															<path fill="#0052B4" d="M226.2,100.5c-39.2,10.6-75.2,28.7-106.5,52.7l106.5,106.5V100.5z"/>
															<path fill="#0052B4" d="M385.8,691.5c39.2-10.6,75.2-28.7,106.5-52.7L385.8,532.3L385.8,691.5L385.8,691.5z"/>
															<path fill="#0052B4" d="M442.3,475.8l106.5,106.5c24-31.3,42.2-67.3,52.7-106.5H442.3z"/>
														</g>
														<g>
															<path fill="#D80027" d="M609.4,356.1H345.9h0V92.6C332.8,90.9,319.5,90,306,90c-13.5,0-26.8,0.9-39.9,2.6v263.5v0H2.6
																C0.9,369.2,0,382.5,0,396c0,13.5,0.9,26.8,2.6,39.9h263.5h0v263.5c13.1,1.7,26.4,2.6,39.9,2.6c13.5,0,26.8-0.9,39.9-2.6V435.9v0
																h263.5c1.7-13.1,2.6-26.4,2.6-39.9C612,382.5,611.1,369.2,609.4,356.1z"/>
															<path fill="#D80027" d="M385.8,475.8L385.8,475.8l136.5,136.5c6.3-6.3,12.3-12.8,18-19.6L423.5,475.8L385.8,475.8L385.8,475.8
																L385.8,475.8z"/>
															<path fill="#D80027" d="M226.2,475.8L226.2,475.8L89.6,612.4c6.3,6.3,12.8,12.3,19.6,18l116.9-116.9L226.2,475.8L226.2,475.8z"/>
															<path fill="#D80027" d="M226.2,316.2L226.2,316.2L89.6,179.6c-6.3,6.3-12.3,12.8-18,19.6l116.9,116.9L226.2,316.2L226.2,316.2z"/>
															<path fill="#D80027" d="M385.8,316.2L385.8,316.2l136.5-136.6c-6.3-6.3-12.8-12.3-19.6-18L385.8,278.5V316.2z"/>
														</g>
													</svg>
												</div>
												<div class="lang__box-item  lang__box-item_txt">en</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="lang__box  lang__box_no_padding">
												<div class="lang__box-item  lang__box-item_icon  icon  icon_lang_en">
													<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
														 viewBox="0 90.8 612 611.2" enable-background="new 0 90.8 612 611.2" xml:space="preserve" class="icon__lng-en  svg">
														<circle fill="#F0F0F0" cx="306" cy="396" r="306"/>
														<g>
															<path fill="#0052B4" d="M63.3,209.7C39.2,241,21.1,277,10.5,316.2h159.2L63.3,209.7z"/>
															<path fill="#0052B4" d="M601.5,316.2c-10.6-39.2-28.7-75.2-52.7-106.5L442.3,316.2H601.5z"/>
															<path fill="#0052B4" d="M10.5,475.8C21.1,515,39.2,551,63.3,582.3l106.5-106.5H10.5L10.5,475.8z"/>
															<path fill="#0052B4" d="M492.3,153.3c-31.3-24-67.3-42.2-106.5-52.7v159.2L492.3,153.3z"/>
															<path fill="#0052B4" d="M119.7,638.7c31.3,24,67.3,42.2,106.5,52.7V532.3L119.7,638.7z"/>
															<path fill="#0052B4" d="M226.2,100.5c-39.2,10.6-75.2,28.7-106.5,52.7l106.5,106.5V100.5z"/>
															<path fill="#0052B4" d="M385.8,691.5c39.2-10.6,75.2-28.7,106.5-52.7L385.8,532.3L385.8,691.5L385.8,691.5z"/>
															<path fill="#0052B4" d="M442.3,475.8l106.5,106.5c24-31.3,42.2-67.3,52.7-106.5H442.3z"/>
														</g>
														<g>
															<path fill="#D80027" d="M609.4,356.1H345.9h0V92.6C332.8,90.9,319.5,90,306,90c-13.5,0-26.8,0.9-39.9,2.6v263.5v0H2.6
																C0.9,369.2,0,382.5,0,396c0,13.5,0.9,26.8,2.6,39.9h263.5h0v263.5c13.1,1.7,26.4,2.6,39.9,2.6c13.5,0,26.8-0.9,39.9-2.6V435.9v0
																h263.5c1.7-13.1,2.6-26.4,2.6-39.9C612,382.5,611.1,369.2,609.4,356.1z"/>
															<path fill="#D80027" d="M385.8,475.8L385.8,475.8l136.5,136.5c6.3-6.3,12.3-12.8,18-19.6L423.5,475.8L385.8,475.8L385.8,475.8
																L385.8,475.8z"/>
															<path fill="#D80027" d="M226.2,475.8L226.2,475.8L89.6,612.4c6.3,6.3,12.8,12.3,19.6,18l116.9-116.9L226.2,475.8L226.2,475.8z"/>
															<path fill="#D80027" d="M226.2,316.2L226.2,316.2L89.6,179.6c-6.3,6.3-12.3,12.8-18,19.6l116.9,116.9L226.2,316.2L226.2,316.2z"/>
															<path fill="#D80027" d="M385.8,316.2L385.8,316.2l136.5-136.6c-6.3-6.3-12.8-12.3-19.6-18L385.8,278.5V316.2z"/>
														</g>
													</svg>
												</div>
												<div class="lang__box-item  lang__box-item_txt">uz</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="lang__box  lang__box_no_padding">
												<div class="lang__box-item  lang__box-item_icon  icon  icon_lang_en">
													<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
														 viewBox="0 90.8 612 611.2" enable-background="new 0 90.8 612 611.2" xml:space="preserve" class="icon__lng-en  svg">
														<circle fill="#F0F0F0" cx="306" cy="396" r="306"/>
														<g>
															<path fill="#0052B4" d="M63.3,209.7C39.2,241,21.1,277,10.5,316.2h159.2L63.3,209.7z"/>
															<path fill="#0052B4" d="M601.5,316.2c-10.6-39.2-28.7-75.2-52.7-106.5L442.3,316.2H601.5z"/>
															<path fill="#0052B4" d="M10.5,475.8C21.1,515,39.2,551,63.3,582.3l106.5-106.5H10.5L10.5,475.8z"/>
															<path fill="#0052B4" d="M492.3,153.3c-31.3-24-67.3-42.2-106.5-52.7v159.2L492.3,153.3z"/>
															<path fill="#0052B4" d="M119.7,638.7c31.3,24,67.3,42.2,106.5,52.7V532.3L119.7,638.7z"/>
															<path fill="#0052B4" d="M226.2,100.5c-39.2,10.6-75.2,28.7-106.5,52.7l106.5,106.5V100.5z"/>
															<path fill="#0052B4" d="M385.8,691.5c39.2-10.6,75.2-28.7,106.5-52.7L385.8,532.3L385.8,691.5L385.8,691.5z"/>
															<path fill="#0052B4" d="M442.3,475.8l106.5,106.5c24-31.3,42.2-67.3,52.7-106.5H442.3z"/>
														</g>
														<g>
															<path fill="#D80027" d="M609.4,356.1H345.9h0V92.6C332.8,90.9,319.5,90,306,90c-13.5,0-26.8,0.9-39.9,2.6v263.5v0H2.6
																C0.9,369.2,0,382.5,0,396c0,13.5,0.9,26.8,2.6,39.9h263.5h0v263.5c13.1,1.7,26.4,2.6,39.9,2.6c13.5,0,26.8-0.9,39.9-2.6V435.9v0
																h263.5c1.7-13.1,2.6-26.4,2.6-39.9C612,382.5,611.1,369.2,609.4,356.1z"/>
															<path fill="#D80027" d="M385.8,475.8L385.8,475.8l136.5,136.5c6.3-6.3,12.3-12.8,18-19.6L423.5,475.8L385.8,475.8L385.8,475.8
																L385.8,475.8z"/>
															<path fill="#D80027" d="M226.2,475.8L226.2,475.8L89.6,612.4c6.3,6.3,12.8,12.3,19.6,18l116.9-116.9L226.2,475.8L226.2,475.8z"/>
															<path fill="#D80027" d="M226.2,316.2L226.2,316.2L89.6,179.6c-6.3,6.3-12.3,12.8-18,19.6l116.9,116.9L226.2,316.2L226.2,316.2z"/>
															<path fill="#D80027" d="M385.8,316.2L385.8,316.2l136.5-136.6c-6.3-6.3-12.8-12.3-19.6-18L385.8,278.5V316.2z"/>
														</g>
													</svg>
												</div>
												<div class="lang__box-item  lang__box-item_txt">ru</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<button class="header__support-item  header__support-item_hamburger  hamburger  hamburger_menu_open  color-white"><i class="fa fa-bars" aria-hidden="true"></i></button>
					</div>
				</div>
				<nav class="header__menu  col-xs-12 menu  menu_mob">
					<button class="menu__close  close  close_menu"><i class="fa fa-times" aria-hidden="true"></i></button>
					<ul class="menu__list  menu__list_mob">
						<li>
							<a href="#">about uzbekistan</a>
						</li>
						<li>
							<a href="#">tours</a>
						</li>
						<li>
							<a href="#">booking</a>
						</li>
						<li>
							<a href="#">places</a>
						</li>
						<li>
							<a href="#">map</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>