@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../fonts/GothamRounded-Book.eot');
	src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamRounded-Book.woff') format('woff'),
		 url('../fonts/GothamRounded-Book.ttf') format('truetype'),
		 url('../fonts/GothamRounded-Book.svg#Gotham Rounded Book') format('svg');
	font-style: normal;
	font-weight: normal;
}


