// float clear
// ===============

@mixin clearfix() {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// =============================================
// =============================================

/* миксин для списков*/
// ===============

@mixin list() {
	padding: 0;
	margin: 0;
	list-style: none;
}

// =============================================
// =============================================

// placeholder
// ===============


@mixin iph {
	&.placeholder {
		@content; 
	}
	&:-moz-placeholder {
		@content; 
	}
	&::-moz-placeholder {
		@content; 
	}
	&:-ms-input-placeholder {
		@content; 
	}
	&::-webkit-input-placeholder {
		@content; 
	}
}

// =============================================
// =============================================


// flex column
// ===============

@mixin c-a() {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;

	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

// =============================================
// =============================================