img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	&:hover, &:focus {
		outline: none;
		text-decoration: none;
	}
}


html {
	font-size: $font_size_document;
}

body {
	font-family: $font_document;
	font-size: $font_size_document;
	font-weight: 400;
	color: $color_document;
	background-color: $document_background;
}



input, button, textarea {
	&:focus {
		outline: none;
	}
}


.background-default {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.background_position_center_bottom {
	background-position: 50% 100%;
}

.background-cover {
	background-size: cover;
}

.link-hover-decoration-none {
	&:hover, &:focus {
		text-decoration: none;
	}
}


.position-relative {
	position: relative;
}


.position-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
}


.text-center {
	text-align: center;
}

.text-mmd-center {
	@include mmd() {
		text-align: center;
	}
}

// colors

	.color-white {
		color: #fff;
	}

	.color-black {
		color: #000;
	}

	.color-orange {
		color: #fe4f20;
	}

	.color-red {
		color: #ed5454;
	}

	.color-blue {
		color: #78379d;
	}

	.color-yellow {
		color: #edc054;
	}

// ============



// background-color

	.background-brown {
		background-color: $background_brown;
	}
	.background-grey {
		background-color: $background_grey;
	}

// =============


.list {
	@include list();
}



// section

.section-padding {
	padding: 40px 0;
	@include mmd() {
		padding: 20px 0;
	}
}


// ==========




.chevron-left {
	width: 25px;
	height: 50px;
	background: url("../images/chevron-left.png") 50% 50% no-repeat;
}
.chevron-right {
	width: 25px;
	height: 50px;
	background: url("../images/chevron-right.png") 50% 50% no-repeat;

}


.wrapper {
	overflow: hidden;
}


.no-scroll {
	overflow: hidden;
	// margin-right: 17px;
}



.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}