// fonts weight
// ====================

$o_s: 'Open Sans',sans-serif;
$g_r: 'GothamRounded-Book',sans-serif;

// ============================================
// ============================================

// content font
// ====================

$font_document: $o_s;

// ============================================
// ============================================


// main font-size
// ====================

$font_size_document: 17px;

// ============================================
// ============================================


// column padding
// ====================



// ============================================
// ============================================


// colors
// ====================

$document_background: #fff;
$color_document: #666;
$color_menu: #14285a;
$color_titles: #000;
$color_map_text: #14285a;
$color_preview: #fff;
$color_preview_news: #000;
$color_preview_news_date: #9b9b9b;
$color_preview_start: #bfbbb0;
$color_preview_start_hover: #fff;
$color_preview_guides: #666;
$color_preview_guides_hover: #666;
$color_preview_things: #000;
$color_preview_upcoming: #000;
$color_preview_upcoming_hover: #fff;
$color_menu_footer: #a08d75;
$color_menu_footer_hover: #fff;
$color_menu_footer_title: #fff;
$color_menu_footer_title_hover: #fff;
$color_social: #a08d75;
$color_social_hover: #fff;
$color_rights: #a08d75;
$color_crumbs: #000;
$color_crumbs_link: #999;
$color_info: #666;
$color_description: #666;
$color_lang: #000;
$color_ban_title: #fff;
$color_city_name: #fff;
$color_description: #999;
$city_slider_buttons_color: #fff;
$thumb_for_city_color: #fff;
$color_thumb_nav_txt: #fff;
$color_button_circle_red: #fff;
$color_button_preview_guides: #666;
$color_button_preview_guides_hover: #fff;
$fill_svg_logo_footer: #a08d75;
$fill_svg_logo_footer_hover: #fff;
$color_logo_header_fill: #14285a;
$color_logo_header_fill_hover: #fe4f20;
$color_hamburger: #14285a;
$color_close: #14285a;
$color_button_main: #000;
$color_button_main_hover: #fff;
$color_blockIE_text: #fff;

$background_menu_link_decoration: #14285a;
$background_button_main: transparent;
$background_button_main_hover: #2088fe;
$background_preview_news: #fff;
$background_preview_start: #6f6456;
$background_preview_start_hover: #2088fe;
$background_preview_guides: #f2f3ed;
$background_preview_guides_hover: #fff;
$background_things_section: #f2f3ed;
$background_upcoming_section: #fff;
$background_preview_upcoming: #f2f3ed;
$background_aside_column: #f2f3ed;
$background_button_circle_red: #fe4f20;
$background_button_preview_guides: transparent;
$background_button_preview_guides_border: #d9d9d9;
$background_button_preview_guides_hover: #2088fe;
$background_button_preview_guides_border_hover: #2088fe;
$background_buttom_main_white: #fff;
$background_buttom_main_white_hover: #2088fe;
$background_preview_overlay_img: rgba(#be5e17, .7);
$border_buttom_main_white: transparent;
$border_buttom_main_white_hover: #2088fe;
$border_button_main_hover: #2088fe;
$backround_menu_mob: rgba(#000, .3);
$backround_menu_mob_list: #fff;
$backround_intro: #fff;
$background_blockIE: #fff;

$background_brown: #333;
$background_grey: #f2f3ed;



// ============================================
// ============================================
